body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.navbar {
    background-color: gainsboro;
}

footer{
    background-color: #333;
    color: white;
}
.cinza {
    background-color: gainsboro;
}

.azul {
    background-color: lightblue;
}